#### Q1. What is a database? Differentiate between SQL and NoSQL databases.
#### Ans 1.
#### Database :-
Database is a collection of organized data that can be stored and retrieved using different database modelling and design approaches.

For Example :- Let us consider Google Chrome's Search Engine as "Database" because it stores the search keywords that are frequently used by the users all over the world.
#### SQL Database :- 
* SQL database is a RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS).
* SQL databases have fixed or static or predefined schema.
* SQL databases display data in form of tables so it is known as table-based database.
* SQL databases are vertically scalable.
* SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.
* SQL databases are best suited for complex queries.
* SQL databases are not best suited for hierarchical data storage.
* MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.

#### NoSQL Database :-
* NoSQL database is a Non-relational or distributed database system.
* NoSQL databases have dynamic schema.
* NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.
* NoSQL databases are horizontally scalable.
* In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.
* NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.
* NoSQL databases are best suited for hierarchical data storage.
* MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
#### Ans 2.
#### DDL (Data Definition Language) :-
* DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. 
* It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. 
* DDL is a set of SQL commands used to create, modify, and delete database structures but not data. 

CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

* CREATE TABLE tablename ( Col1_Name Data Type, Col2_Name Data Type,...Coln_Name Data Type);    Example: CREATE TABLE Payment_Methods (Payment_ID INT(8), NAME VARCHAR(50), DATE DATE,CONTACT VARCHAR(50),

DROP: This command is used to delete objects from the database.
* SYNTAX: DROP TABLE tablename;  Ex: DROP Table Payment_Methods;

ALTER: This is used to alter the structure of the database.
* SYNTAX for Adding New Column in Existing Table: ALTER TABLE tablename ADD new_Columnname datatype; Ex: ALTER TABLE payment_methods ADD Transaction_Date Date;

TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
* SYNTAX: TRUNCATE tablename; Ex: TRUNCATE payment_methods;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
#### Ans 3.
#### DML (Data Manipulation Language) :-
* The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. 
* It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

INSERT : It is used to insert data into a table.
* INSERT INTO tablename Values (Col1_Value, Col2_Value...Col(n)Value);

UPDATE: It is used to update existing data within a table.
* SYNTAX: UPDATE tablename SET ColumnName1 = New Value1, ColumnName2 = New Value2...

  where Clause Condition;
  
  UPDATE SQL_Invoicing.payment_methods
  
  SET NAME = 'UPI Transaction' where NAME = 'PayPal';

DELETE : It is used to delete records from a database table.
* SYNTAX: DELETE from tablename where Condition(Optional).

  Ex: If we want to delete the particular row/record in a table.
  
  DELETE from SQL_Invoicing.payment_methods where Payment_method_id = '3';
  
  If we want to delete the particular value in entire table.
  
  DELETE from SQL_Invoicing.payment_methods where NAME = 'CASH';

#### Q4. What is DQL? Explain SELECT with an example.
#### DQL (Data Query Language) :-
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.

SELECT :  It is used to retrieve data from the database.
* SELECT * from databasename.tablename;
* select * from test2.test_table;

#### Q5. Explain Primary Key and Foreign Key.
#### Ans 5.
#### Primary Key :- 
* The PRIMARY KEY constraint uniquely identifies each record in a table.
* Primary keys must contain UNIQUE values, and cannot contain NULL values.
* A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).

CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    PRIMARY KEY (ID)
) ;
#### Foreign Key :-
* The FOREIGN KEY constraint is used to prevent actions that would destroy links between tables.
* A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.
* The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.
* The FOREIGN KEY constraint prevents invalid data from being inserted into the foreign key column, because it has to be one of the values contained in the parent table.

CREATE TABLE Orders (
    OrderID int NOT NULL PRIMARY KEY,
    OrderNumber int NOT NULL,
    PersonID int FOREIGN KEY REFERENCES Persons(PersonID)
) ;

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
#### Ans 6.
#### cursor() method :- 
The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

You can create Cursor object using the cursor() method of the Connection object/class.

#### execute() method :-
This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True.

In [3]:
import mysql.connector
mydb = mysql.connector.connect( host="127.0.0.1",user="root",password="mysqlgd")
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026315930490>
('api',)
('carbon',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)