### Assignment-16 (MongoDB Assignment 17 Feb 2023)

#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
#### Ans 1.
MongoDB, the most popular NoSQL database, is an open-source document-oriented database. The term ‘NoSQL’ means ‘non-relational’. It means that MongoDB isn’t based on the table-like relational database structure but provides an altogether different mechanism for storage and retrieval of data. This format of storage is called BSON ( similar to JSON format).

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

if our “data is unstructured and complex, or if we can’t pre-define our schema, we’d better opt for MongoDB.” And what is more, if we need to handle a large volume of data and store it as documents — MongoDB will help us to meet the challenges.

#### Q2. State and Explain the features of MongoDB.
#### Ans 2.
Schema-less Database: 
* It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. 
* It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

Document Oriented: 
* In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

Indexing: 
* In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. 
* If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

Scalability: 
* MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

Replication: 
* MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

Aggregation: 
* It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

High Performance: 
* The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
#### Ans 3.

In [2]:
# Creating Connection between MongoDB and Python
import pymongo
client = pymongo.MongoClient("mongodb+srv://gurudevsingla:mongodbgd@clusterfirst.qoup7ox.mongodb.net/?retryWrites=true&w=majority")

# Creating a database named "db"
db = client.test

# Creating a collection named "kapil_record"
coll_brand = db["Gurudev_record"]

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.
#### Ans 4.

In [3]:
# Inserting one record

data = {"name" : "Gurudev",
        "Class" : "Data Science",
        "Teacher" : "Sudhansu and Krish"
       }

coll_brand.insert_one(data)

In [4]:
# Inserting many record

data1 = [
  { "name": "Ram", "address": "Delhi" },
  { "name": "Harun", "address": "Lucknow" },
  { "name": "Avnish", "address": "Pune" },
  { "name": "Bhanu", "address": "Nainital" }
]

coll_brand.insert_many(data1)

In [4]:
# Inserting many record
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science  Masters Program'}]

coll_brand.insert_many(list_of_records)

In [5]:
# find_one() method to fetch the inserted record

coll_brand.find_one()

{'_id': ObjectId('64255c73799631b9907aaf9f'),
 'name': 'Gurudev',
 'Class': 'Data Science',
 'Teacher': 'Sudhansu and Krish'}

In [6]:
# find() method to fetch the inserted record

coll_brand.find()

In [7]:
for i in coll_brand.find():
    print(i)

{'_id': ObjectId('64255c73799631b9907aaf9f'), 'name': 'Gurudev', 'Class': 'Data Science', 'Teacher': 'Sudhansu and Krish'}
{'_id': ObjectId('64255c77799631b9907aafa0'), 'name': 'Ram', 'address': 'Delhi'}
{'_id': ObjectId('64255c77799631b9907aafa1'), 'name': 'Harun', 'address': 'Lucknow'}
{'_id': ObjectId('64255c77799631b9907aafa2'), 'name': 'Avnish', 'address': 'Pune'}
{'_id': ObjectId('64255c77799631b9907aafa3'), 'name': 'Bhanu', 'address': 'Nainital'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
#### Ans 5.

In [8]:
for i in coll_brand.find({"name":"Gurudev"}) :
    print(i)

{'_id': ObjectId('64255c73799631b9907aaf9f'), 'name': 'Gurudev', 'Class': 'Data Science', 'Teacher': 'Sudhansu and Krish'}

In [9]:
for i in coll_brand.find({'address': 'Nainital'}) :
    print(i)

{'_id': ObjectId('64255c77799631b9907aafa3'), 'name': 'Bhanu', 'address': 'Nainital'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
#### Ans 6.
Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

In [10]:
for x in coll_brand.find().sort("name"):
    print(x)

{'_id': ObjectId('64255c77799631b9907aafa2'), 'name': 'Avnish', 'address': 'Pune'}
{'_id': ObjectId('64255c77799631b9907aafa3'), 'name': 'Bhanu', 'address': 'Nainital'}
{'_id': ObjectId('64255c73799631b9907aaf9f'), 'name': 'Gurudev', 'Class': 'Data Science', 'Teacher': 'Sudhansu and Krish'}
{'_id': ObjectId('64255c77799631b9907aafa1'), 'name': 'Harun', 'address': 'Lucknow'}
{'_id': ObjectId('64255c77799631b9907aafa0'), 'name': 'Ram', 'address': 'Delhi'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.
#### Ans 7.
delete_one() :- 

To delete one document, we use the delete_one() method.

The first parameter of the delete_one() method is a query object defining which document to delete.

delet_many() :-

To delete more than one document, use the delete_many() method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

drop() :-

The drop() method removes collections from the database. It also removes all indexes associated with the dropped collection. The drop method accepts an optional document. It returns true if the collection dropped successfully.

In [13]:
# Example delet_one()
coll_brand.delete_one(data)

In [14]:
for i in coll_brand.find():
    print(i)
    
    
# Here my data is deteded

{'_id': ObjectId('64255c77799631b9907aafa0'), 'name': 'Ram', 'address': 'Delhi'}
{'_id': ObjectId('64255c77799631b9907aafa1'), 'name': 'Harun', 'address': 'Lucknow'}
{'_id': ObjectId('64255c77799631b9907aafa2'), 'name': 'Avnish', 'address': 'Pune'}
{'_id': ObjectId('64255c77799631b9907aafa3'), 'name': 'Bhanu', 'address': 'Nainital'}

In [15]:
# Example delet_many()

coll_brand.delete_many({"name" :  {"$regex" : "B"}})

In [16]:
for i in coll_brand.find():
    print(i)
    
    
# Her "name" : "Bhanu"  is deleted from the colection.

{'_id': ObjectId('64255c77799631b9907aafa0'), 'name': 'Ram', 'address': 'Delhi'}
{'_id': ObjectId('64255c77799631b9907aafa1'), 'name': 'Harun', 'address': 'Lucknow'}
{'_id': ObjectId('64255c77799631b9907aafa2'), 'name': 'Avnish', 'address': 'Pune'}

In [17]:
# Example drop()

coll_brand.drop()

In [18]:
for x in db.list_collection_names():
    print(x)
    
# Here my collection "Gurudev_records" droped