In [3]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
df[['course_name','duration']][1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc and iloc are two different ways of selecting data from a Pandas DataFrame based on row and column labels or indices, respectively.

The loc function is used for label-based indexing, which means that you select data based on the labels of rows and columns. The syntax for using loc is as follows:    df.loc[row_label, column_label]
Here, row_label and column_label are the labels of the row(s) and column(s) you want to select. You can use a single label or a list of labels to select multiple rows or columns.

The iloc function, on the other hand, is used for integer-based indexing, which means that you select data based on the integer positions of rows and columns. The syntax for using iloc is as follows:   df.iloc[row_index, column_index] 
Here, row_index and column_index are the integer positions of the row(s) and column(s) you want to select. You can use a single integer or a range of integers to select multiple rows or columns.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].Did you observe any difference in both the outputs? If so then explain it.

In [15]:
new_df = df.reindex([3,0,1,2])

In [19]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [17]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [18]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

yes there is difference in the output of loc and iloc

in loc data is selected on the bases of already labeled index but in iloc data is selected on the bases of default integer indexing.

In [1]:
#Consider the below code to answer further questions:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [2]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.146676  0.938746  0.666552  0.110794  0.471079  0.815485
2  0.462086  0.366496  0.180794  0.498820  0.620840  0.603990
3  0.129919  0.589312  0.001510  0.829268  0.182458  0.383199
4  0.651911  0.757837  0.923404  0.996414  0.474074  0.995341
5  0.025316  0.392244  0.999871  0.103542  0.809894  0.014251
6  0.174363  0.323746  0.093205  0.227389  0.366591  0.722513

In [3]:
df1.mean()

column_1    0.265045
column_2    0.561397
column_3    0.477556
column_4    0.461038
column_5    0.487489
column_6    0.589130
dtype: float64

In [4]:
df1['column_2'].std()

0.24691577317558852

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [5]:
df1['column_2'].loc[2] = 'gurudev'

In [6]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.146676  0.938746  0.666552  0.110794  0.471079  0.815485
2  0.462086   gurudev  0.180794  0.498820  0.620840  0.603990
3  0.129919  0.589312  0.001510  0.829268  0.182458  0.383199
4  0.651911  0.757837  0.923404  0.996414  0.474074  0.995341
5  0.025316  0.392244  0.999871  0.103542  0.809894  0.014251
6  0.174363  0.323746  0.093205  0.227389  0.366591  0.722513

In [42]:
df1['column_2'].mean()

# its showing errors due to mathamatical operation can't be done on the string variables.

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In Pandas, a window function is used to perform calculations on a set of rows that are related to the current row. It is a way to compute metrics like moving averages or cumulative sums by sliding a window over a DataFrame.

The rolling() function is used to create a rolling window object that can be used to perform calculations on a set of rows. The rolling window object is created using a specified window size, which determines the number of rows to include in each calculation.

There are several types of window functions in Pandas:

Rolling Window Functions: These functions work on a specified window of values and use it to calculate a new value for each position.

Expanding Window Functions: These functions accumulate all the previous rows and use all the values to calculate a new value for each position.

Exponentially Weighted Moving Average (EWMA): These functions calculate the moving average with exponentially decreasing weights over time.

Window Aggregations: These functions aggregate a set of values within the specified window to a single value. For example, calculating the sum or mean of values in the window.

Overall, window functions in Pandas are a powerful tool for calculating time-series statistics and other metrics that depend on a sliding window of data.

Q7. Write a code to print only the current month and year at the time of answering this question.

In [49]:
import datetime as dt

now = dt.datetime.now()
now.strftime("%B %Y")

'February 2023'

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [11]:
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# convert the input strings to Pandas datetime objects
date1 = pd.to_datetime(date1,infer_datetime_format=True)
date2 = pd.to_datetime(date2,infer_datetime_format=True)

# calculate the time difference between the two dates
time_diff = date2 - date1

# extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# display the result
print("The time difference between", date1.date(), "and", date2.date(), "is:")
print(days, "days,", hours, "hours, and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD): 18-07-1998
Enter the second date (YYYY-MM-DD): 19-10-2004
The time difference between 1998-07-18 and 2004-10-19 is:
2285 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [13]:
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")
categories = input("Enter the category order (comma-separated): ").split(",")

# read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# convert the specified column to a categorical data type with the specified category order
df[col_name] = pd.Categorical(df[col_name], categories=categories, ordered=True)

# sort the DataFrame by the specified column
df = df.sort_values(by=col_name)


print(df)

Enter the file path: E:\Data Sci\Practice\dailyActivity_merged.csv
Enter the column name: SedentaryActiveDistance
Enter the category order (comma-separated): 0.01
             Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0    1503960366    4/12/2016       13162       8.500000         8.500000
1    1503960366    4/13/2016       10735       6.970000         6.970000
2    1503960366    4/14/2016       10460       6.740000         6.740000
3    1503960366    4/15/2016        9762       6.280000         6.280000
4    1503960366    4/16/2016       12669       8.160000         8.160000
..          ...          ...         ...            ...              ...
935  8877689391     5/8/2016       10686       8.110000         8.110000
936  8877689391     5/9/2016       20226      18.250000        18.250000
937  8877689391    5/10/2016       10733       8.150000         8.150000
938  8877689391    5/11/2016       21420      19.559999        19.559999
939  8877689391    5/12/2016        8064       6.120000         6.120000

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                         0.0                1.88                      0.55
1                         0.0                1.57                      0.69
2                         0.0                2.44                      0.40
3                         0.0                2.14                      1.26
4                         0.0                2.71                      0.41
..                        ...                 ...                       ...
935                       0.0                1.08                      0.20
936                       0.0               11.10                      0.80
937                       0.0                1.35                      0.46
938                       0.0               13.22                      0.41
939                       0.0                1.82                      0.04

     LightActiveDistance SedentaryActiveDistance  VeryActiveMinutes  \
0                   6.06                     NaN                 25
1                   4.71                     NaN                 21
2                   3.91                     NaN                 30
3                   2.83                     NaN                 29
4                   5.04                     NaN                 36
..                   ...                     ...                ...
935                 6.80                     NaN                 17
936                 6.24                     NaN                 73
937                 6.28                     NaN                 18
938                 5.89                     NaN                 88
939                 4.25                     NaN                 23

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                     13                   328               728      1985
1                     19                   217               776      1797
2                     11                   181              1218      1776
3                     34                   209               726      1745
4                     10                   221               773      1863
..                   ...                   ...               ...       ...
935                    4                   245              1174      2847
936                   19                   217              1131      3710
937                   11                   224              1187      2832
938                   12                   213              1127      3832
939                    1                   137               770      1849

[940 rows x 15 columns]

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the following :
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [59]:
import csv

students = [
    {"Student ID": 1, "Test Score": 85},
    {"Student ID": 2, "Test Score": 90},
    {"Student ID": 3, "Test Score": 80},
    {"Student ID": 4, "Test Score": 75},
    {"Student ID": 5, "Test Score": 85},
    {"Student ID": 6, "Test Score": 82},
    {"Student ID": 7, "Test Score": 78},
    {"Student ID": 8, "Test Score": 85},
    {"Student ID": 9, "Test Score": 90},
    {"Student ID": 10, "Test Score": 85},
]

# write the student data to a CSV file
with open("student_data.csv", mode="w", newline="") as csv_file:
    fieldnames = ["Student ID", "Test Score"]
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    for student in students:
        writer.writerow(student)
        
        
df = pd.read_csv('student_data.csv')

# calculate the mean, median, and mode of the test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().tolist()

# display the results in a table
print("+-----------+--------+")
print("| Statistic | Value |")
print("+-----------+--------+")
print("| Mean      | {:.1f}  |".format(mean))
print("| Median    | {}     |".format(median))
print("| Mode      | ", end="")
for i in range(len(mode)):
    if i == len(mode) - 1:
        print(mode[i], end=" ")
    else:
        print("{}, ".format(mode[i]), end="")
print(" " * (7 - len(str(mode))) + "|")
print("+-----------+--------+")

+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean      | 83.5  |
| Median    | 85.0     |
| Mode      | 85    |
+-----------+--------+